.dataResult {
    margin-top: 5px;
    width: 300px !important; 
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid;
  }
.searchInput{
    margin:2;
    padding:2;
    border-radius: 12px;
}
.searchPlay{
    display: none;
}
.ProductsTitle:hover{
    color: blue ;
}